.form_preview_container {
  display: flex;
  width: 100%;
  height: 100%;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.form_preview_select {
  padding: 5px;
  font-size: 14px;
  border: 2px solid #000;
  border-radius: 4px;
  background-color: #fff;
  color: #333;
  width: 200px;
  margin-bottom: 5px;
}

.form_preview_select option {
  padding: 5px;
}

.form_preview_container label {
  font-weight: bolder;
}

.form_preview_btn_container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form_preview_btn_container input {
  display: none;
}
.form_preview_save_form_btn,
.form_preview_load_form_btn {
  padding: 6px 10px;
  margin: 5px;
  cursor: pointer;
  font-size: 14px;
  background-color: #516391;
  border: 1px solid #516391;
  color: white;
  transition: all 0.3s ease;
}

.form_preview_save_form_btn:hover,
.form_preview_load_form_btn:hover {
  background-color: #0e101c;
  border: 1px solid red;
}

.form_preview_starter_state {
  text-align: center;
}
.form_preview_starter_state p,
h3 {
  color: #ec5990;
}

.form_preview_starter_state input {
  display: none;
}

.form_preview_container label {
  color: white;
}
