.form_element_card {
  flex: 1;
  width: 100%;
  border: 1px solid whitesmoke;
  background-color: whitesmoke;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
  position: relative;
  display: flex;
  flex-direction: column;
}

.form_element_close {
  position: absolute;
  top: 2px;
  right: 2px;
  padding: 2px;
  cursor: pointer;
}

.csd-input {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 0.5rem;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

input {
  padding: 0.5rem;
  border: 2px solid #d2d6dc;
  border-radius: 5px;
  font-size: 1rem;
  line-height: 1.5rem;
}

input:focus {
  outline: none;
  border-color: #4a80cd;
}

input::placeholder {
  color: #9ca3af;
}

input:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
