.formbuilder__container {
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}
.formbuilder__header h1 {
  text-align: center;
  border-bottom: 3px solid black;
  margin-bottom: 20px;
}

.formbuilder__body {
  display: flex;
  flex-direction: row;
}

.formbuilder__form-elements {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 10px;
}

.formbuilder__preview {
  border-left: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 10px;
}

@media (max-width: 850px) {
  .formbuilder__body {
    flex-direction: column;
  }
  .formbuilder__preview {
    border-left: none;
  }
}
