.formbuilder__container {
  height: 100vh;
  width: 100vw;
  /* background-color:  red; */
}
.formbuilder__header h1 {
  padding: 10px;
}
/* .formbuilder__body{
    display: flex;
    flex-direction: row;
}*/
.formbuilder__preview {
  border-left: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.formbuilder__body {
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
}

.formbuilder__form-elements {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
